*{
    box-sizing: border-box;
}

html,body
{
    width:100%;
    height:100%;
    background-color:$color_bg;
    color:$color_text;
    font-size: 1rem;
}

h2{
    font-size: $fontsize_h2;
    font-family: $font_header;
    font-weight: bold;
    
  }

#ol-main-container{
    width:100%;
    height:100%;
    overflow-y:scroll;
}

.ol-section-outercontainer{
    width:100%;
    height:100%;
    min-height: 45vw;

    &.isSticky{
        &>.ol-section{
            position:absolute;
            top:0;
            left:0;
            pointer-events: none;
        }
    }
}
.ol-section{
    width:100%;
    height:100%;
    min-height: 45vw;

    background-size:cover;
    background-position: center;

    overflow:hidden;
    position:relative;

    &:nth-child(1) > {
        background-image:url('/Media/Images/homebg.jpeg');
        z-index:20;
    }
    &:nth-child(2){
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        z-index:25;

        & .ol-section-logo-container{
            background-color:orange;
        }
    }
    &:nth-child(3){
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        z-index:30;
        & .ol-section-logo-container{
            background-color:grey;
        }
    }
}

.ol-section-hud
{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events: none;
    // z-index:100;
    

}

.ol-section-menu-container
{
    position:absolute;
    left:$unit;
    top:$unit;

    z-index:120;
}
.ol-section-logo-container
{
    position:absolute;
    right:$unit;
    top:$unit;
    width:40px;
    height:80px;
    background-color:purple;
    z-index:110;
}
.ol-section-location-container
{
    height:100%;
    width:23px;
    position:absolute;
    right:40px;
    top:0;
    z-index:105;
    font-size:0;

    &::before,
    &::after{
        display:inline-block;
        width:1px;
        height:100%;
        vertical-align: middle;
        background-color:red;
        content:"";

    }
}

.ol-section-location-innercontainer{
    display:inline-block;
    width:21px;
    height:auto;
    padding:0;
    margin:0;
    vertical-align:middle;

    z-index:105;

    &>ul{
        margin:0;
        padding:0;

        &>li{
            height:21px;
            width:21px;
            padding:0;
            margin:$unit 0;
            border-radius:50%;
            border:1px solid #f1f1f1;
        }
    }
}

#ol-section-title-container{
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    font-size: 0;

    &::before,
    &::after{
        content:"";
        display:inline-block;
        width:1%;
        height:100%;
        vertical-align: middle;
    }


}

#ol-section-title-innercontainer{
   
    width: 98%;
    //display: inline-block;
    vertical-align: middle;
    height: auto;
    border: solid 2px cyan;
    text-align: center;
    display: inline-block;
    
   
}

#ol-section-title-text-container{

        border: solid 2px red;
        width: auto;
        height: auto;
        // margin: 0 auto;
         display: inline-block;
        
        >h2{

            color: #212121;
            text-align: right;
            font-family:  $font_base;
        }

        #ol-title-span{
            background-color: #64ffda;
            font-weight: bold;
            padding: 10px;
            line-height: 91px;
        }
}

#ol-section-about-container{

    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;


    &::before,
    &::after{
        content:"";
        display:inline-block;
        width:1%;
        height:100%;
        vertical-align: middle;
    }

}
#ol-section-about-innercontainer{

    width: 98%;
    // display: inline-flex;
    vertical-align: middle;
    height: 600px;
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    
    >div{
        width: 50%;
        display: inline-block;
    }
}

#ol-section-about-left{

    vertical-align: top;
    padding-top:30px; 
    

    >h2{
 
        text-align: right;
        color: #949292;
        padding-bottom: 40px;
        }
    >p{
        font-size: $fontsize;
        text-align: justify; 
        direction: rtl;
        color: #9a9898;
        font-family: $font_base;
        font-weight: bold;
      }

}

#ol-section-about-right{
    // background: steelblue;
    height: 100%;
    padding-left: 60px;
    
}

#ol-section-about-img-container{

    width: 600px;
    height: 600px;
    // background-color: indianred;
    background-image:url('/Media/Images/about-section.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#ol-section-contact-container{

    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-flex;

    >div{
        height: 100%;
    }
    >div:nth-of-type(1){
        width: 42%;
        background-color: #777777;
        position: relative;
    }
    >div:nth-of-type(2){
        width: 58%;
    }
    
}

#ol-section-contact-left-innercontaier{

    position: absolute;
    right: 0;
    min-width: 570px;
    min-height: 331px;
    margin: 0;
    padding-right: 110px;
    margin-top: 150px;
    text-align: right;

    >h2{

        padding-bottom: 60px;
        color: #f7f7f7;
    }
}

.ol-section-contact-info-row{
    font-size:$fontsize;
    font-family: $font_base;
    font-weight: bold;
    color: #9a9898;
    padding-bottom: 10px;
}

#ol-section-contact-right-container{

    background-image:url('/Media/Images/contanct-map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ol-section-projects-container{

    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-flex;

    >div{
        height: 100%;
    }
    >div:nth-of-type(1){
        width: 33%;
        background-color: #c4c3c4;
        position: relative;
    }
    >div:nth-of-type(2){
        width: 67%;
        background-color: #F4F4F4;
    }
    
}

#ol-section-projects-left-innercontaier{

    position: absolute;
    right: 0;
    min-width: 450px;
    height:auto;
    padding-right: 80px;
    margin-top: 150px;
    text-align: right;

    >h2{
 
        padding-bottom: 60px;
        color: #f7f7f7;
        width: 100%;

        
    }
    
    ul{
        >li{
            font-size: $fontsize;
            font-family:$font_base;
            font-weight: bold;
            padding-bottom: 15px;
            
        }
        >li:nth-of-type(odd){
            color: #f7f7f7;
        }
        >li:nth-of-type(even){
            color:#9a9898;
        }

     }
}


/*
 * MEDIA QUERIES
*/
@media (min-width: $breakpoint_screen_l) and (max-width: $breakpoint_screen_xl){


}
@media (min-width: $breakpoint_screen_xm) and (max-width: $breakpoint_screen_l){

h2{font-size: 3.5rem}
$fontsize: 2.75rem;

#ol-section-title-text-container{

#ol-title-span{

     line-height: 60px;
     padding: 5px 15px;
     
     }

}

 #ol-section-about-innercontainer{  height: 400px; }

 #ol-section-about-img-container{
     width:400px;
     height: 100%;
 }

 #ol-section-about-left{

    padding-top:30px; 

    >h2{ padding-bottom: 40px; }
    >p{  font-size: $fontsize; }

}

#ol-section-about-right{

    height: 100%;
    padding-left: 60px;
    
}

#ol-section-contact-container{

    >div:nth-of-type(1){ width: 35%; }
    >div:nth-of-type(2){ width: 65%; }
    
}

#ol-section-contact-left-innercontaier{
    min-width: 450px;
    padding-right: 50px;
    >h2{ padding-bottom: 45px; }
}

.ol-section-contact-info-row{font-size: $fontsize;}

#ol-section-projects-container{

    >div:nth-of-type(1){ width: 30%; }
    >div:nth-of-type(2){ width: 70%; }
    
}

#ol-section-projects-left-innercontaier{
    width: 350px;
    margin-top: 100px;
    padding-right: 50px;

    >h2{ padding-bottom: 60px;  }
    >ul>li{ font-size: $fontsize; }
     
}

}
@media (min-width: $breakpoint_screen_s) and (max-width: $breakpoint_screen_xm){

h2{font-size: 3rem}
$fontsize: 2.4rem;

#ol-section-title-text-container{

#ol-title-span{

     line-height: 60px;
     padding: 5px 15px;
     
     }

}

 #ol-section-about-innercontainer{  height: 400px; }

 #ol-section-about-img-container{
     width:400px;
     height: 100%;
 }

 #ol-section-about-left{

    padding-top:30px; 

    >h2{ padding-bottom: 40px; }
    >p{  font-size: $fontsize; }

}

#ol-section-about-right{

    height: 100%;
    padding-left: 60px;
    
}

#ol-section-contact-container{

    >div:nth-of-type(1){ width: 40%; }
    >div:nth-of-type(2){ width: 60%; }
    
}

#ol-section-contact-left-innercontaier{
    width: 400px;
    padding-right: 40px;
    margin-top: 100px;

    >h2{ padding-bottom: 45px; }
}

.ol-section-contact-info-row{font-size: $fontsize;}

#ol-section-projects-container{

    >div:nth-of-type(1){ width: 35%; }
    >div:nth-of-type(2){ width: 65%; }
    
}

#ol-section-projects-left-innercontaier{
    width: 300px;
    margin-top: 100px;
    padding-right: 50px;

    >h2{ padding-bottom: 60px;  }
    >ul>li{ font-size: $fontsize; }
     
}


}

/* medium screen and smaller */
@media (max-width: $breakpoint_screen_m){

}
/* medium screen only */
@media (min-width: $breakpoint_screen_s) and (max-width: $breakpoint_screen_m){

}

/* small screen and smaller */
@media (max-width: $breakpoint_screen_s){

}
/* small screen only */
@media (min-width: $breakpoint_tablet_l) and (max-width: $breakpoint_screen_s){

h2{font-size: 2.3rem}
$fontsize: 1.75rem;

#ol-section-title-text-container{

#ol-title-span{

     line-height: 50px;
     padding: 5px 12px;
     
     }

}

 #ol-section-about-innercontainer{  height: 350px; }

 #ol-section-about-img-container{
     width:300px;
     height: 100%;
 }

 #ol-section-about-left{

    padding-top:30px; 

    >h2{ padding-bottom: 40px; }
    >p{  font-size: $fontsize; }

}

#ol-section-about-right{

    height: 100%;
    padding-left: 60px;
    
}

#ol-section-contact-container{

    >div:nth-of-type(1){ width: 40%; }
    >div:nth-of-type(2){ width: 60%; }
    
}

#ol-section-contact-left-innercontaier{
    width: 400px;
    padding-right: 40px;
    margin-top: 100px;

    >h2{ padding-bottom: 30px; ; }
}

.ol-section-contact-info-row{font-size: $fontsize;}

#ol-section-projects-container{

    >div:nth-of-type(1){ width: 35%; }
    >div:nth-of-type(2){ width: 65%; }
    
}

#ol-section-projects-left-innercontaier{
    min-width: 300px;
    margin-top: 100px;
    padding-right: 50px;

    >h2{ padding-bottom: 60px;  }
    >ul>li{ font-size: $fontsize; }
     
}

}

/*large tablet and smaller */
@media (max-width: $breakpoint_tablet_l){

}
/*large tablet only*/
@media (min-width: $breakpoint_tablet_s) and (max-width: $breakpoint_tablet_l){

h2{font-size: 1.75rem}
$fontsize: 1.3rem;

#ol-section-title-text-container{

#ol-title-span{

     line-height: 50px;
     padding: 5px 12px;
     
     }

}

 #ol-section-about-innercontainer{  height: 250px; }

 #ol-section-about-img-container{
     width:250px;
     height: 100%;
 }

 #ol-section-about-left{

    padding-top:30px; 

    >h2{ padding-bottom: 20px; }
    >p{  font-size: $fontsize; }

}

#ol-section-about-right{

    height: 100%;
    padding-left: 60px;
    
}

#ol-section-contact-container{

    >div:nth-of-type(1){ width: 40%; }
    >div:nth-of-type(2){ width: 60%; }
    
}

#ol-section-contact-left-innercontaier{
    width: 400px;
    padding-right: 40px;
    margin-top: 100px;

    >h2{ padding-bottom: 30px; }
}

.ol-section-contact-info-row{font-size: $fontsize;}

#ol-section-projects-container{

    >div:nth-of-type(1){ width: 35%; }
    >div:nth-of-type(2){ width: 65%; }
    
}

#ol-section-projects-left-innercontaier{
    min-width: 300px;
    margin-top: 100px;
    padding-right: 50px;

    >h2{ padding-bottom: 40px;  }
    >ul>li{ font-size: $fontsize; }
     
}

}

/* small tablet and smaller */
@media (max-width: $breakpoint_tablet_s){

}
/* small tablet only */
@media (min-width: $breakpoint_mobile) and (max-width: $breakpoint_tablet_s){

h2{font-size:1.5rem; }
$fontsize: 1.1rem;

section:nth-of-type(2){
    height: 600px;
}
section:nth-of-type(3){
    height: 700px;
}
section:nth-of-type(4){
    height: 700px;
}

#ol-section-title-text-container{

    #ol-title-span{

        line-height: 50px;
        padding: 5px 12px;
        
    }

}


 #ol-section-about-innercontainer{  
     
     display: inline-block;
     height: auto; 

     >div{
         width: 100%;
     }
          
     }

 #ol-section-about-img-container{
     width:200px;
     height: 200px;
     margin: 0 auto;
   
 }

 #ol-section-about-left{

    width: 100%;
    height: auto;
    padding:30px 0; 

    >h2{ padding-bottom: 20px; text-align: center }
    >p{  
        font-size: $fontsize;
        width: 300px;
        margin: 0 auto;
        text-align: center;
     }

}

#ol-section-about-right{

    height: 100%;
    padding: 0;
    
}

#ol-section-contact-container{

    >div:nth-of-type(1){ width:100%; height: 350px; }
    >div:nth-of-type(2){ width:100%; height: 350px; }
    display: inline-block;

    
}

#ol-section-contact-left-innercontaier{
    width: 100%;
    min-width: 100%;
    padding-right: 0;
    padding-left: 50px;
    margin-top: 80px;
    text-align: left;

    >h2{ padding-bottom: 30px; }
}

.ol-section-contact-info-row{font-size: $fontsize;}

#ol-section-projects-container{

    display: inline-block;
    >div:nth-of-type(1){ width: 100%; height: 350px; }
    >div:nth-of-type(2){ width: 100%; height: 350px; }
    
}

#ol-section-projects-left-innercontaier{
    min-width: 100%;
    margin-top: 80px;
    padding-right: 0px;
    padding-left: 50px;
    text-align: left;

    >h2{ padding-bottom: 40px;  }
    >ul>li{ font-size: $fontsize; }
     
}


}
/* mobile */
@media (max-width: $breakpoint_mobile )
{

h2{font-size:1.2rem; }
$fontsize: 1rem;

section:nth-of-type(2){
    height: 600px;
}
section:nth-of-type(3){
    height: 700px;
}
section:nth-of-type(4){
    height: 700px;
}

.ol-section-location-container{
    right: 10px;
    width: 15px;

    >div{
        width: 13px;
            >ul>li{
                width: 13px;
                height: 13px;
            }
    }


}

#ol-section-title-text-container{

    #ol-title-span{

        line-height: 30px;
        padding: 2px 12px;
        
    }

}


 #ol-section-about-innercontainer{  
     
     display: inline-block;
     height: auto; 

     >div{
         width: 100%;
     }
          
     }

 #ol-section-about-img-container{
     width:200px;
     height: 200px;
     margin: 0 auto;
   
 }

 #ol-section-about-left{

    width: 100%;
    height: auto;
    padding:30px 0; 

    >h2{ padding-bottom: 20px; text-align: center }
    >p{  
        font-size: $fontsize;
        width: 300px;
        margin: 0 auto;
        text-align: center;
     }

}

#ol-section-about-right{

    height: 100%;
    padding: 0;
    
}

#ol-section-contact-container{

    >div:nth-of-type(1){ width:100%; height: 350px; }
    >div:nth-of-type(2){ width:100%; height: 350px; }
    display: inline-block;

    
}

#ol-section-contact-left-innercontaier{
    width: 100%;
    min-width: 100%;
    padding-right: 0;
    padding-left: 50px;
    margin-top: 80px;
    text-align: left;

    >h2{ padding-bottom: 30px; }
}

.ol-section-contact-info-row{font-size: $fontsize;}

#ol-section-projects-container{

    display: inline-block;
    >div:nth-of-type(1){ width: 100%; height: 350px; }
    >div:nth-of-type(2){ width: 100%; height: 350px; }
    
}

#ol-section-projects-left-innercontaier{
    min-width: 100%;
    margin-top: 80px;
    padding-right: 0px;
    padding-left: 50px;
    text-align: left;

    >h2{ padding-bottom: 40px;  }
    >ul>li{ font-size: $fontsize; }
     
}

}

