/* Sizes */
$grid: 28;
$spacing:10px;
$min_width: 320px;
$max_width: 1200px;
$min_height:420px;
$unit: ($max_width - ($spacing*($grid+1)))/$grid;

/* break points */
$breakpoint_mobile: 440px;
$breakpoint_tablet_s: 600px;
$breakpoint_tablet_l: 800px;
$breakpoint_screen_s: 1024px;
$breakpoint_screen_m: 1280px;


/* colours */
$color_bg: #f1f1f1;

$color_main: #4b63ae;



$color_accent_dark: #4b63ae;
$color_accent_mid: #8995BB;
$color_accent_lightmid: #47a0bb;
$color_accent_light: #e1e1e1;

$color_bg_input: #ffffff;


$color_text: #111111;
$color_text_inverse:#f1f1f1;


/* Fonts */
$font_base: 'Lato', sans-serif;
$font_header: 'Roboto Condensed', sans-serif;

/* font-sizes */
$fontsize_h1: 2.2rem;
$fontsize_h2: 2rem;
$fontsize_h3: 1.5rem;
$fontsize_h4: 1.3rem;
$fontsize_h5: 1.2rem;
$fontsize_h6: 1rem;

$fontsize: 1rem;

$fontsize_xl: 1.4rem;
$fontsize_l: 1.2rem;
$fontsize_s:.9rem;
$fontsize_xs:0.85rem;

$fontsize_menu:1.15rem;
$fontsize_menu_mobile:1rem;


